<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻数据</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/serchveleisl.css">
    <link rel="stylesheet" href="https://www.dowebok.com/demo/192/css/viewer.min.css">
    <script src="./js/jquery-1.7.1.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/uploadviewer.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://www.dowebok.com/demo/192/js/viewer-jquery.min.js"></script>
</head>
<style>
    .witkg{
        width: 80%;
    }
    .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  .avatar {
    width: 150px;
    height: 150px;
    display: block;
  }
  .imgview{
    position: relative;
  }
  .imgview:hover .closeimg{
    display: inline-block;
  }
  .closeimg{
    font-size: 20px;
    position: absolute;
    left: 122px;
    padding: 5px;
    display:none;
  }
</style>
<body>
    <div id="serch">
        <template>
            <div>
                <el-row class="serch_section">
                    <el-row class="serch_title">
                        <el-col :span="12" ><p class="serch_title_left">栏目</p></el-col>
                        <el-col :span="12" class="serch_title_right">
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col v-for="(item, index) in titledata"  :key="index" :span="3" class="column" :class="state == index?'on':''">
                            <div @click="classification(index)">
                                <div class="column_num">{{item.num}}</div>
                                <p class="column_text">{{item.name}}</p>
                            </div>
                        </el-col>
                    </el-row>
                </el-row>
                <el-row class="serch_section">
                    <el-row class="serch_title">
                        <el-col :span="12" ><p class="serch_title_left">栏目数据</p></el-col>
                        <el-col :span="12" class="serch_title_right">
                                <el-button @click="opendialog(1,'','')">添加新闻</el-button>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-table :data="tableDatatwo"   style="width:100%"                   class="serch_list">
                            <el-table-column prop="imgUrl" label="图片" align="center" width="250">
                                <template slot-scope="scope">
                                    <div :id="'imgsd'+scope.$index">
                                        <img  :src="scope.row.imgUrl" @click="imgviewer('imgsd'+scope.$index)" style="height: 150px;"/>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="caseTitle" label="标题" align="center" width="250"></el-table-column>
                            <el-table-column prop="caseText" label="内容" align="left"></el-table-column>
                            <el-table-column label="操作" align="center" width="200">
                                <template slot-scope="scope">
                                    <div class="mainOperationBtnBo">
                                        <el-button id="mainOperationBtnBoxbutton" @click="opendialog(2,scope.row,scope.$index)">新闻编辑</el-button>
                                        <el-button id="mainOperationBtnBoxbutton" @click="opendialog(3,'',scope.$index)" type="danger">新闻删除</el-button>
                                    </div>
                                </template>
                                
                            </el-table-column>
                        </el-table>
                    </el-row>
                </el-row>
                <el-dialog :visible.sync="dialogshow" :title="dialogtile" width="700px"  @close="closedialog('dialogform')">
                    <el-form label-widh="120px" :ref="dialogform" :model="dialogform">
                        <el-form-item label="添加栏目：" v-if="dialogtile == '添加新闻'" props="column_type">
                            <el-radio-group  v-if="dialogtile == '添加新闻'" v-model="dialogform.column_type">
                                <el-radio :value="1"  :label="1">是</el-radio>
                                <el-radio :value="2"  :label="2">否</el-radio>
                            </el-radio-group>
                            <!-- <el-switch
                                v-model="dialogform.column_type"
                                active-color="#13ce66"
                                inactive-color="#ff4949"
                                active-value="1"
                                inactive-value="2">
                            </el-switch> -->
                        </el-form-item>
                        <el-form-item label="栏目名称：" v-if="dialogtile == '添加新闻'" props="title_column">
                            <el-input v-model="dialogform.title_column" v-if="dialogform.column_type == '1'" class="witkg" clearable placeholder="请输入栏目名称"></el-input>
                            <el-select v-model="dialogform.title_column" clearable v-else placeholder="请选择栏目">
                                <el-option
                                    v-for="item in titledata"
                                    :key="item.name"
                                    :label="item.name"
                                    :value="item.name"
                                    >
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="新闻标题：" props="caseTitle">
                            <el-input v-model="dialogform.caseTitle" class="witkg" clearable placeholder="请输入新闻标题"></el-input>
                        </el-form-item>
                        <el-form-item label="新闻内容：" props="caseText">
                            <el-input
                                type="textarea"
                                :autosize="{ minRows: 2, maxRows: 4}"
                                placeholder="请输入内容"
                                class="witkg"
                                v-model="dialogform.caseText">
                              </el-input>
                        </el-form-item>
                        <el-form-item label="新闻图片：" props="img">
                                <input type="file" @change="imgchange" accept="image/*" v-if="dialogform.img == ''" >
                                <viewer v-if="dialogform.img != ''" id="imgsdgf" class="imgview">
                                    <i class="el-icon-error closeimg" @click="deltimg"></i>
                                    <img :src="dialogform.img"  @click="imgviewer('imgsdgf')" style="width: 150px;height: 150px;" >
                                </viewer>
                        </el-form-item>
                    </el-form>
                    <span slot="footer">
                        <el-button @click="dialogshow= false">取 消</el-button>
                        <el-button type="primary" @click='onSubmit'>提  交</el-button>
                    </span>
                </el-dialog>

            </div>
        </template>
    </div>
</body>
<script>
    var testVue = new Vue({
        el:'#serch',
        data(){
            return {
                tableDatatwo:[],
                titledata:[],
                sectdata:[],
                state:0,
                dialogshow:false,
                dialogtile:"",
                column_index:'',
                dialogform:{
                    caseTitle:"",
                    caseText:"",
                    imgUrl:'',
                    img:"",
                    imgType:'',
                    title_column:"",
                    column_type:2
                },
            }
        },
      
        created() {
           this.getinfodata()
        },
        methods: {
            deltimg(){
                console.log('ppp')
                this.dialogform.img = '';
                this.dialogform.imgUrl = '';
                console.log(this.dialogform)
                this.$forceUpdate()
            },
            opendialog(type,data,index){
                console.log('ppp',type)
                if(type == 1){
                    this.dialogtile = '添加新闻';
                    this.dialogform.title_column = '';
                    this.dialogform.column_type = 2;
                    console.log(this.dialogform)
                }else if(type == 2){
                    this.dialogtile = '编辑新闻';
                    this.dialogform = JSON.parse(JSON.stringify(data))
                    this.dialogform.img = data.imgUrl;
                    this.column_index = index;
                    console.log(this.dialogform)
                }else if(type == 3){
                    this.$confirm('确定删除此条新闻么？, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        let this_ = this;
                        let sddd = new FormData()
                        sddd.append('title_column',this.titledata[this_.state].name);
                        sddd.append('column_index',index);
                        sddd.append('title_index',this.state);
                        $.ajax({
                            type:"post",
                            url:"http://localhost:3000/list/deletesectlist",
                            data:sddd,
                            dataType:"json",
                            // 告诉jQuery不要去处理发送的数据
                            processData : false, 
                            contentType: false ,  // 编码类型 关闭 否则会出错
                            success:function(success){
                                console.log(success)
                                if(success.code == 200){
                                    this_.$message.success(success.msg)
                                    this_.getinfodata();
                                }else{
                                    this_.$message.error(success.msg)
                                }
                            }
                        })
                        
                    }).catch((err) => {
                        console.log(err)
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });          
                    });
                    return false
                }
                this.dialogshow = true
            },
            imgchange(e){
                // console.log("00000000",e)
                this.dialogform.imgType = e.target.files[0].type;
                const _this = this//这个必须有，否则图片显示不出来
                this.dialogform.imgUrl = e.target.files[0];
                let size = e.target.files[0].size / 1024 / 1024 < 2;
                if (!size) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                    return false
                }
                // 利用fileReader对象获取file
                // console.log("上传图片file--.",file)
                var file = e.target.files[0];
                var reader = new FileReader();
                //  console.log("上传图片file--.",file)
                //  console.log("reader--.",reader)
                reader.readAsDataURL(file);
                reader.onload = function(e) {
                    // 读取到的图片base64 数据编码 将此编码字符串传给后台即可
                    var img = e.target.result;
                    _this.dialogform.img = img;
                }
            },
            getinfodata(){
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                var this_ = this;
                $.ajax({
                    type:"get",
                    url:"http://localhost:3000/list/titles",
                    dataType:"json",
                    success:function(success){
                        // console.log(success)
                        $.ajax({
                            type:"get",
                            url:"http://localhost:3000/list/sections",
                            dataType:"json",
                            success:function(successtwo){
                                // console.log(successtwo);
                                this_.sectdata = successtwo;
                                for(let ket in success){
                                    for(let it in this_.sectdata){
                                        if(success[ket].name === it){
                                            success[ket].num = this_.sectdata[it].length
                                        }
                                    }
                                    // console.log('pppp')
                                }
                                this_.tableDatatwo = successtwo[success[this_.state].name];
                                this_.titledata = success;
                                setTimeout(() => {
                                    loading.close();
                                }, 1000);
                                // console.log(this_.titledata)
                            }
                        })
                    }
                })
            },
            classification(index){
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let titles = this.titledata[index].name;
                for(let kt in this.sectdata){
                    if(titles === kt){
                        this.tableDatatwo = this.sectdata[kt]
                    }
                }
                setTimeout(() => {
                    loading.close();
                }, 1000);
                this.state = index;
            },
            imgviewer(ids){
                $('#'+ids).viewer({
                    url: 'data-original',
                });
            },
            closedialog(formname){
                console.log(';;;;')
                this.dialogform.caseTitle = "";
                this.dialogform.caseText= "";
                this.dialogform.img = '';
                this.dialogform.imgType = '';
                this.dialogform.title_column = '';
                this.dialogform.column_type = '';
                // this.$forceUpdate();
                if(this.dialogtile == '编辑新闻'){
                    window.location.reload()
                }
            },
            handleAvatarSuccess(res, file){
                console.log(res,file)
            },
          
            onSubmit(){
                let this_ = this
                if(this.dialogtile == '添加新闻'){
                    if(this.dialogform.title_column == ''){
                        this.$message({
                            type:"warning",
                            message:"请选择或输入栏目"
                        })
                        return false;
                    }
                }
                
                if(this.dialogform.caseTitle == ''){
                    this.$message({
                        type:"warning",
                        message:"请输入新闻标题"
                    })
                    return false;
                }
                if(this.dialogform.caseText == ''){
                    this.$message({
                        type:"warning",
                        message:"请输入新闻内容"
                    })
                    return false;
                }
                if(this.dialogform.imgUrl == ''){
                    this.$message({
                        type:"warning",
                        message:"请选择图片"
                    })
                    return false;
                }
                // JSON.
                let datas = this.dialogform;
                console.log(datas)
                let sddd = new FormData();
                sddd.append('caseTitle',this.dialogform.caseTitle);
                sddd.append('caseText',this.dialogform.caseText);
                sddd.append('imgType',this.dialogform.imgType);
                sddd.append('img',this.dialogform.img);
                console.log(sddd)
                if(this.dialogtile == '添加新闻'){
                    sddd.append('title_column',this.dialogform.title_column);
                    sddd.append('column_type',this.dialogform.column_type);
                    $.ajax({
                        type:"post",
                        url:"http://localhost:3000/list/addsectList",
                        data:sddd,
                        dataType:"json",
                        // 告诉jQuery不要去处理发送的数据
                        processData : false, 
                        contentType: false ,  // 编码类型 关闭 否则会出错
                        success:function(success){
                            console.log(success)
                            if(success.code == 200){
                                // this.$message.success(success.msg)
                                this_.$message({
                                    type:"success",
                                    message:success.msg
                                })
                                this_.dialogshow = false;
                                this_.getinfodata();
                            }else{
                                this.$message({
                                    type:"error",
                                    message:success.msg
                                })
                            }
                        }
                    })
                    // list/
                }else{
                    sddd.append('title_column',this.titledata[this_.state].name);
                    sddd.append('column_index',this.column_index);
                    $.ajax({
                        type:"post",
                        url:"http://localhost:3000/list/editsectlist",
                        data:sddd,
                        dataType:"json",
                        // 告诉jQuery不要去处理发送的数据
                        processData : false, 
                        contentType: false ,  // 编码类型 关闭 否则会出错
                        success:function(success){
                            console.log(success)
                            if(success.code == 200){
                                this_.$message.success(success.msg)
                                this_.dialogshow = false;
                                this_.getinfodata();
                            }else{
                                this_.$message.error(success.msg)
                            }
                        }
                    })
                }
            }
        },
    });
</script>
</html>